@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap');

meter::-webkit-meter-optimum-value {
    background: hsl(176, 50%, 47%);
    border-radius: 30px;
}
meter::-webkit-meter-bar {
    background: rgb(230, 230, 230);
    border: none;
   
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin:auto;
    min-width: 1400px;
    max-width: 1400px;
    background-color: hsl(0, 18%, 96%);
    font-family: 'Commissioner', sans-serif;
    
}

#header-imgg{
    width: 100%;
}

.top-img-nav{
    position: relative;
    z-index: -1;

}
.nav-bar ul{
    font-size: 16px;
    color: rgb(255, 255, 255);
    list-style: none;
    position: absolute;
    top: 46px;
    right: 115px;
    display: flex;
    gap: 2.0rem;
}
#crowdfund{
    position: absolute;
    top: 46px;
    left: 160px;
    max-width: 100%;
}

.top-card{
    background-color: rgb(247, 247, 247);
    margin: auto;
    width: 732px;
    border-radius: 7px;
    margin-top: -8rem;
    text-align: center;
    font-weight: 800;
    border: 1px solid rgba(210, 209, 209, 0.336);

}
#mastercraft-logo{
    position: relative;
    top: -2.5rem;
}

#top-card-h1{
    padding-bottom: 1.5rem; 
    font-size: 28px;

}
#top-card, p{
    opacity: 0.4;
    font-size: 16px;
}

.button-flex{
    padding: 4rem;
    display: flex;
    justify-content: space-between;

}

.green-btn{
    font-size: 16px;
    background-color: hsl(176, 50%, 47%);
    color: aliceblue;
    padding: 1.5rem 3.7rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.grey-btn{
    /* make btn image as bg image and slide left */
    background-image: url(./images/icon-bookmark.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center left 0px;
    font-size: 16px ;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    background-color: hsl(0, 0%, 91%);
    padding: 0rem 3.5rem;
    color: rgba(0, 0, 0, 0.654);
}

#dv{
    margin-left: 2rem;
}

.mid-card{
    display: flex;
    background-color: rgb(247, 247, 247);
    margin: auto;
    width: 732px;
    border-radius: 7px;
    font-weight: 800;
    border: 1px solid rgba(210, 209, 209, 0.336);
    padding: 2.5rem 4.5rem;
    justify-content:left;
    text-align: left;
    gap: 3rem;
    flex-wrap: wrap;
    

}

.all-cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mid-card div h1{
    font-size: 35px;

  
}
.mid-card div p{

    padding-top: -5rem;
}
.vertical-line{
    border-left: 2px solid rgba(128, 128, 128, 0.394);
    height: 60px;
    padding-left: 5rem;

}
meter{
    width: 640px;
    height: 22px;
    border: none; /* Green */
}

#meter{
    padding-bottom: 3rem;
}

.bottom-card{
    background-color: rgb(247, 247, 247);
    margin: auto;
    width: 732px;
    border-radius: 7px;
    text-align: left;
    font-weight: 800;
    border: 1px solid rgba(210, 209, 209, 0.336);
    padding: 4rem;
    line-height:25px;
}
.bottom-card h1, p{
    padding-bottom: 2rem;
    font-weight: 600;

}



.top-container-inside{
    border: 1px solid rgba(128, 128, 128, 0.373);
    border-radius: 5px;
    padding: 2.4rem;
}
.top-container-inside h1{
    font-size: 16px;
    font-weight: 800;
}
.pledge-flex{
    display: flex;
justify-content: space-between;
}

.cyan-color{
    color:hsl(176, 50%, 47%);
    font-weight: 600;
    text-align: end;
    font-size: 16px;
}

.counter-and-button{
    display: flex;
    justify-content: space-between;
    
}


.btn{
    font-size: 14px;
    background-color: hsl(176, 50%, 47%);
    color: aliceblue;
    padding: 1.3rem 2.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

h2{
    font-size: 32px;
    
}

.grey-text{
    opacity: 0.8;
    font-size: 15px;
    color: grey;
    position: relative;
    top: -5px ;
}

.btn-grey{
    font-size: 14px;
    background-color: hsl(0, 0%, 48%);
    color: aliceblue;
    padding: 1.3rem 2.8rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.bottom-container-inside{
    border: 1px solid rgba(128, 128, 128, 0.373);
    border-radius: 5px;
    padding: 2.4rem;
    opacity: 0.5;
}
.bottom-container-inside h1{
    font-size: 16px;
    font-weight: 800;
}